In [117]:
import pandas as pd
from datetime import datetime
import requests

In [118]:
start_date = '2024-05-24'
end_date = '2024-05-25'

In [119]:
url = f'https://api.energy-charts.info/price?bzn=SI&start={start_date}&end={end_date}'
response = requests.get(url)

data = response.json()

In [120]:
print('Number of price items:', len(data['price']))
print('Number of unix time items:', len(data['unix_seconds']))

if len(data['price']) == len(data['unix_seconds']):
    print('Lengths are matching the expected values')

Number of price items: 48
Number of unix time items: 48
Lengths are matching the expected values

In [121]:
print('Response data from:', datetime.fromtimestamp(data['unix_seconds'][0]).strftime('%Y-%m-%d %H:%M:%S'))
print('Response data to:', datetime.fromtimestamp(data['unix_seconds'][-1]).strftime('%Y-%m-%d %H:%M:%S'))

Response data from: 2024-05-24 00:00:00
Response data to: 2024-05-25 23:00:00

In [122]:
daily_price_data = []
for i in range(len(data['price'])):
    timestamp = datetime.fromtimestamp(data['unix_seconds'][i]).strftime('%Y-%m-%dT%H:%M:%S')
    price = data['price'][i]
    
    new_data = {'date': timestamp, 'price': price}
    daily_price_data.append(new_data)

In [123]:
# create dataframe
df = pd.DataFrame(daily_price_data)
df.head(48)

                   date   price
0   2024-05-24T00:00:00  100.74
1   2024-05-24T01:00:00   91.22
2   2024-05-24T02:00:00   87.54
3   2024-05-24T03:00:00   85.59
4   2024-05-24T04:00:00   86.96
5   2024-05-24T05:00:00   99.09
6   2024-05-24T06:00:00  116.26
7   2024-05-24T07:00:00  123.08
8   2024-05-24T08:00:00   99.72
9   2024-05-24T09:00:00   97.06
10  2024-05-24T10:00:00   86.83
11  2024-05-24T11:00:00   78.24
12  2024-05-24T12:00:00   76.14
13  2024-05-24T13:00:00   72.25
14  2024-05-24T14:00:00   74.56
15  2024-05-24T15:00:00   81.39
16  2024-05-24T16:00:00   84.45
17  2024-05-24T17:00:00   99.51
18  2024-05-24T18:00:00  112.64
19  2024-05-24T19:00:00  134.27
20  2024-05-24T20:00:00  174.08
21  2024-05-24T21:00:00  122.82
22  2024-05-24T22:00:00  109.67
23  2024-05-24T23:00:00   99.84
24  2024-05-25T00:00:00   94.88
25  2024-05-25T01:00:00   91.92
26  2024-05-25T02:00:00   90.47
27  2024-05-25T03:00:00   89.16
28  2024-05-25T04:00:00   89.04
29  2024-05-25T05:00:00   89.87
30  2024-05-25T06:00:00   89.75
31  2024-05-25T07:00:00   86.50
32  2024-05-25T08:00:00   76.07
33  2024-05-25T09:00:00   55.49
34  2024-05-25T10:00:00   30.57
35  2024-05-25T11:00:00    9.14
36  2024-05-25T12:00:00    3.24
37  2024-05-25T13:00:00    0.04
38  2024-05-25T14:00:00    0.00
39  2024-05-25T15:00:00    0.02
40  2024-05-25T16:00:00   14.39
41  2024-05-25T17:00:00   77.31
42  2024-05-25T18:00:00   97.43
43  2024-05-25T19:00:00  116.85
44  2024-05-25T20:00:00  130.90
45  2024-05-25T21:00:00  135.84
46  2024-05-25T22:00:00  115.58
47  2024-05-25T23:00:00  104.35

In [124]:
weather_url = f'https://archive-api.open-meteo.com/v1/archive?latitude=46.0833&longitude=15&start_date={start_date}&end_date={end_date}&hourly=temperature_2m,relative_humidity_2m,apparent_temperature,precipitation,cloud_cover,wind_speed_10m&timezone=Europe%2FBerlin'
response = requests.get(weather_url)

weather_data = response.json()

In [125]:
daily_weather_data = []
for i in range(len(weather_data['hourly']['time'])):
    temperature = weather_data['hourly']['temperature_2m'][i]
    humidity = weather_data['hourly']['relative_humidity_2m'][i]
    precipitation = weather_data['hourly']['precipitation'][i]
    cloud_cover = weather_data['hourly']['cloud_cover'][i]
    wind_speed = weather_data['hourly']['wind_speed_10m'][i]
    
    new_data = {'date': weather_data['hourly']['time'][i], 'temperature': temperature, 'humidity': humidity, 'precipitation': precipitation, 'cloud_cover': cloud_cover, 'wind_speed': wind_speed}
    daily_weather_data.append(new_data)

In [126]:
df_weather = pd.DataFrame(daily_weather_data)
df_weather.head(48)

,date,temperature,humidity,precipitation,cloud_cover,wind_speed
0,2024-05-24T00:00,11.6,88,0.0,4,6.5
1,2024-05-24T01:00,11.6,86,0.0,4,7.2
2,2024-05-24T02:00,11.5,86,0.0,5,7.9
3,2024-05-24T03:00,11.5,87,0.0,1,8.0
4,2024-05-24T04:00,11.2,85,0.0,1,6.1
5,2024-05-24T05:00,10.8,87,0.0,3,7.0
6,2024-05-24T06:00,11.0,87,0.0,14,7.2
7,2024-05-24T07:00,12.1,86,0.0,32,8.4
8,2024-05-24T08:00,13.4,83,0.0,26,6.8
9,2024-05-24T09:00,14.3,76,0.0,3,7.6
10,2024-05-24T10:00,15.3,72,0.0,0,9.4
11,2024-05-24T11:00,16.4,63,0.0,8,11.2
12,2024-05-24T12:00,17.0,55,0.1,50,12.6
13,2024-05-24T13:00,17.4,61,0.6,25,12.7
14,2024-05-24T14:00,18.1,56,0.0,18,13.0
15,2024-05-24T15:00,17.9,52,0.1,27,13.3
16,2024-05-24T16:00,17.9,52,0.0,14,13.2
17,2024-05-24T17:00,18.0,52,0.0,8,11.5
18,2024-05-24T18:00,17.5,55,0.0,34,10.9
19,2024-05-24T19:00,16.4,63,0.0,50,9.6
20,2024-05-24T20:00,14.6,71,0.0,17,9.3
21,2024-05-24T21:00,13.2,74,0.0,4,8.6
22,2024-05-24T22:00,12.5,74,0.0,3,7.6
23,2024-05-24T23:00,12.2,75,0.0,4,6.6
24,2024-05-25T00:00,12.0,75,0.0,0,6.2
25,2024-05-25T01:00,11.9,74,0.0,0,5.8
26,2024-05-25T02:00,11.8,73,0.0,2,5.8
27,2024-05-25T03:00,12.0,79,0.0,26,6.8
28,2024-05-25T04:00,11.4,82,0.0,16,5.8
29,2024-05-25T05:00,11.3,79,0.0,21,6.1
30,2024-05-25T06:00,11.4,80,0.0,31,6.4
31,2024-05-25T07:00,13.9,73,0.0,30,2.7
32,2024-05-25T08:00,15.4,67,0.0,26,2.5
33,2024-05-25T09:00,16.4,60,0.0,29,2.2
34,2024-05-25T10:00,17.2,56,0.0,42,2.3
35,2024-05-25T11:00,17.8,54,0.0,46,5.1
36,2024-05-25T12:00,18.1,52,0.1,44,6.5
37,2024-05-25T13:00,18.7,51,0.1,49,6.7
38,2024-05-25T14:00,19.1,54,0.0,40,5.2
39,2024-05-25T15:00,19.2,48,0.0,50,5.2
40,2024-05-25T16:00,19.3,50,0.0,70,4.3
41,2024-05-25T17:00,17.4,63,1.0,67,4.7
42,2024-05-25T18:00,16.9,70,0.4,36,4.2
43,2024-05-25T19:00,16.4,73,0.0,35,1.3
44,2024-05-25T20:00,15.2,86,0.0,34,1.9
45,2024-05-25T21:00,13.9,88,0.0,28,3.1
46,2024-05-25T22:00,13.7,85,0.0,30,4.2
47,2024-05-25T23:00,13.6,81,0.0,58,4.6

In [127]:
print(df_weather.shape)
print(df.shape)

(48, 6)
(48, 2)

In [128]:
df['date'] = pd.to_datetime(df['date'])
df.dtypes

date     datetime64[ns]
price           float64
dtype: object

In [129]:
df_weather['date'] = pd.to_datetime(df_weather['date'])
df_weather.dtypes

date             datetime64[ns]
temperature             float64
humidity                  int64
precipitation           float64
cloud_cover               int64
wind_speed              float64
dtype: object

In [130]:
df.isnull().sum()

date     0
price    0
dtype: int64

In [131]:
df_weather.isnull().sum()

date             0
temperature      0
humidity         0
precipitation    0
cloud_cover      0
wind_speed       0
dtype: int64

In [132]:
df_merged = pd.merge(df, df_weather, on='date')
df_merged.head()

,date,price,temperature,humidity,precipitation,cloud_cover,wind_speed
0,2024-05-24 00:00:00,100.74,11.6,88,0.0,4,6.5
1,2024-05-24 01:00:00,91.22,11.6,86,0.0,4,7.2
2,2024-05-24 02:00:00,87.54,11.5,86,0.0,5,7.9
3,2024-05-24 03:00:00,85.59,11.5,87,0.0,1,8.0
4,2024-05-24 04:00:00,86.96,11.2,85,0.0,1,6.1

In [133]:
df_merged.to_csv('../data/processed/data.csv', index=False)