In [173]:
import pandas as pd
from datetime import datetime
import requests

In [174]:
start_date = '2023-01-01'
end_date = '2024-05-27'

In [175]:
url = f'https://api.energy-charts.info/price?bzn=SI&start={start_date}&end={end_date}'
response = requests.get(url)

data = response.json()

In [176]:
print('Number of price items:', len(data['price']))
print('Number of unix time items:', len(data['unix_seconds']))

if len(data['price']) == len(data['unix_seconds']):
    print('Lengths are matching the expected values')

Number of price items: 12311
Number of unix time items: 12311
Lengths are matching the expected values

In [177]:
print('Response data from:', datetime.fromtimestamp(data['unix_seconds'][0]).strftime('%Y-%m-%d %H:%M:%S'))
print('Response data to:', datetime.fromtimestamp(data['unix_seconds'][-1]).strftime('%Y-%m-%d %H:%M:%S'))

Response data from: 2023-01-01 00:00:00
Response data to: 2024-05-27 23:00:00

In [178]:
daily_price_data = []
for i in range(len(data['price'])):
    timestamp = datetime.fromtimestamp(data['unix_seconds'][i]).strftime('%Y-%m-%dT%H:%M:%S')
    price = data['price'][i]
    
    new_data = {'date': timestamp, 'price': price}
    daily_price_data.append(new_data)

In [179]:
df = pd.DataFrame(daily_price_data)
df.head(48)

                   date   price
0   2023-01-01T00:00:00   13.31
1   2023-01-01T01:00:00   -0.07
2   2023-01-01T02:00:00   -0.47
3   2023-01-01T03:00:00   -1.56
4   2023-01-01T04:00:00   -1.94
5   2023-01-01T05:00:00   -1.42
6   2023-01-01T06:00:00   -2.97
7   2023-01-01T07:00:00   -0.12
8   2023-01-01T08:00:00   -0.06
9   2023-01-01T09:00:00    0.47
10  2023-01-01T10:00:00    0.94
11  2023-01-01T11:00:00    1.41
12  2023-01-01T12:00:00    1.59
13  2023-01-01T13:00:00    1.78
14  2023-01-01T14:00:00    6.41
15  2023-01-01T15:00:00   23.76
16  2023-01-01T16:00:00   36.54
17  2023-01-01T17:00:00   46.03
18  2023-01-01T18:00:00   52.31
19  2023-01-01T19:00:00   54.95
20  2023-01-01T20:00:00   48.96
21  2023-01-01T21:00:00   43.94
22  2023-01-01T22:00:00   45.96
23  2023-01-01T23:00:00   35.00
24  2023-01-02T00:00:00   67.96
25  2023-01-02T01:00:00   60.17
26  2023-01-02T02:00:00   52.93
27  2023-01-02T03:00:00   44.64
28  2023-01-02T04:00:00   50.08
29  2023-01-02T05:00:00   72.65
30  2023-01-02T06:00:00  105.08
31  2023-01-02T07:00:00  140.64
32  2023-01-02T08:00:00  147.15
33  2023-01-02T09:00:00  149.37
34  2023-01-02T10:00:00  145.61
35  2023-01-02T11:00:00  143.35
36  2023-01-02T12:00:00  144.38
37  2023-01-02T13:00:00  143.76
38  2023-01-02T14:00:00  148.20
39  2023-01-02T15:00:00  155.34
40  2023-01-02T16:00:00  163.17
41  2023-01-02T17:00:00  171.18
42  2023-01-02T18:00:00  174.74
43  2023-01-02T19:00:00  164.86
44  2023-01-02T20:00:00  153.00
45  2023-01-02T21:00:00  141.67
46  2023-01-02T22:00:00  134.91
47  2023-01-02T23:00:00  124.22

In [180]:
weather_url = f'https://archive-api.open-meteo.com/v1/archive?latitude=46.0833&longitude=15&start_date={start_date}&end_date={end_date}&hourly=temperature_2m,relative_humidity_2m,apparent_temperature,precipitation,cloud_cover,wind_speed_10m&timezone=Europe%2FBerlin'
response = requests.get(weather_url)

weather_data = response.json()

In [181]:
daily_weather_data = []
for i in range(len(weather_data['hourly']['time'])):
    temperature = weather_data['hourly']['temperature_2m'][i]
    humidity = weather_data['hourly']['relative_humidity_2m'][i]
    precipitation = weather_data['hourly']['precipitation'][i]
    cloud_cover = weather_data['hourly']['cloud_cover'][i]
    wind_speed = weather_data['hourly']['wind_speed_10m'][i]
    
    new_data = {'date': weather_data['hourly']['time'][i], 'temperature': temperature, 'humidity': humidity, 'precipitation': precipitation, 'cloud_cover': cloud_cover, 'wind_speed': wind_speed}
    daily_weather_data.append(new_data)

In [182]:
df_weather = pd.DataFrame(daily_weather_data)
df_weather.head(48)

,date,temperature,humidity,precipitation,cloud_cover,wind_speed
0,2023-01-01T00:00,6.9,91,0.0,53,20.9
1,2023-01-01T01:00,6.9,92,0.0,32,20.7
2,2023-01-01T02:00,8.1,89,0.0,8,23.5
3,2023-01-01T03:00,7.6,91,0.0,6,22.1
4,2023-01-01T04:00,7.3,92,0.0,24,21.4
5,2023-01-01T05:00,7.4,93,0.0,45,22.4
6,2023-01-01T06:00,7.4,95,0.0,100,23.0
7,2023-01-01T07:00,7.5,95,0.0,100,22.5
8,2023-01-01T08:00,7.4,95,0.0,100,22.0
9,2023-01-01T09:00,7.4,95,0.0,100,22.1
10,2023-01-01T10:00,7.9,91,0.0,90,23.7
11,2023-01-01T11:00,8.7,87,0.0,100,23.4
12,2023-01-01T12:00,9.0,86,0.0,100,21.7
13,2023-01-01T13:00,9.3,84,0.0,100,21.7
14,2023-01-01T14:00,11.9,73,0.0,23,23.3
15,2023-01-01T15:00,11.5,73,0.0,50,22.9
16,2023-01-01T16:00,10.5,79,0.0,56,20.7
17,2023-01-01T17:00,9.4,85,0.0,49,17.7
18,2023-01-01T18:00,8.4,90,0.0,90,16.9
19,2023-01-01T19:00,8.2,91,0.0,100,16.9
20,2023-01-01T20:00,7.9,91,0.0,100,15.8
21,2023-01-01T21:00,7.6,93,0.0,100,15.2
22,2023-01-01T22:00,7.3,94,0.0,100,16.0
23,2023-01-01T23:00,7.1,95,0.0,100,16.9
24,2023-01-02T00:00,7.2,95,0.0,100,18.1
25,2023-01-02T01:00,7.2,95,0.0,100,19.6
26,2023-01-02T02:00,8.5,94,0.0,100,21.5
27,2023-01-02T03:00,7.9,95,0.0,100,21.4
28,2023-01-02T04:00,7.5,96,0.0,100,20.7
29,2023-01-02T05:00,7.2,97,0.0,100,21.4
30,2023-01-02T06:00,7.1,97,0.0,100,21.8
31,2023-01-02T07:00,7.1,97,0.0,100,21.5
32,2023-01-02T08:00,7.0,98,0.0,100,20.6
33,2023-01-02T09:00,7.0,98,0.0,100,20.8
34,2023-01-02T10:00,7.1,98,0.0,100,19.0
35,2023-01-02T11:00,7.6,94,0.0,100,21.2
36,2023-01-02T12:00,8.1,90,0.0,100,22.5
37,2023-01-02T13:00,8.2,89,0.0,100,22.5
38,2023-01-02T14:00,9.6,80,0.0,97,24.8
39,2023-01-02T15:00,9.1,82,0.0,92,24.0
40,2023-01-02T16:00,8.4,85,0.0,100,23.3
41,2023-01-02T17:00,7.5,90,0.0,99,22.9
42,2023-01-02T18:00,6.8,94,0.0,100,23.7
43,2023-01-02T19:00,6.5,95,0.0,100,23.9
44,2023-01-02T20:00,6.6,94,0.0,100,23.2
45,2023-01-02T21:00,6.7,93,0.0,100,22.5
46,2023-01-02T22:00,6.7,93,0.0,100,20.7
47,2023-01-02T23:00,6.7,92,0.0,100,18.4

In [183]:
print(df_weather.shape)
print(df.shape)

(12312, 6)
(12311, 2)

In [184]:
df['date'] = pd.to_datetime(df['date'])
df.dtypes

date     datetime64[ns]
price           float64
dtype: object

In [185]:
df_weather['date'] = pd.to_datetime(df_weather['date'])
df_weather.dtypes

date             datetime64[ns]
temperature             float64
humidity                  int64
precipitation           float64
cloud_cover               int64
wind_speed              float64
dtype: object

In [186]:
df.isnull().sum()

date     0
price    0
dtype: int64

In [187]:
df_weather.isnull().sum()

date             0
temperature      0
humidity         0
precipitation    0
cloud_cover      0
wind_speed       0
dtype: int64

In [188]:
df_merged = pd.merge(df, df_weather, on='date')
# df_merged.drop('date', axis=1, inplace=True)
df_merged.head()

,date,price,temperature,humidity,precipitation,cloud_cover,wind_speed
0,2023-01-01 00:00:00,13.31,6.9,91,0.0,53,20.9
1,2023-01-01 01:00:00,-0.07,6.9,92,0.0,32,20.7
2,2023-01-01 02:00:00,-0.47,8.1,89,0.0,8,23.5
3,2023-01-01 03:00:00,-1.56,7.6,91,0.0,6,22.1
4,2023-01-01 04:00:00,-1.94,7.3,92,0.0,24,21.4

In [189]:
df_merged.to_csv('../data/processed/price_data.csv', index=False)